.header {
    background-color: rgb(0, 77, 64);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-content h1 {
    font-size: 2rem;
    margin: 0;
    color: rgb(246, 247, 243);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sub-info {
    display: inline-block;
    margin-left: 10px;
}

.sub-info h2 {
    font-size: 1.25rem;
    color: #ddd;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}