.signOut{
  background-color: #343434;
  color: white;
  position: absolute;
  right: 0;
}



.header{
  text-align: center;
  background-color: rgb(226, 221, 221);
  width: 99%;
  height: 15%;
  position: fixed;
  top: 0;
  left: 0;
  border: solid;
}

:not(.header){
  margin: 10px;
}


nav li{
  display: inline;
  margin-right: 10%;
  margin-left: 10%;
}

.App{
  margin-top: 200px;
  margin: 0 auto;
  position: absolute;
  top: 15%
}

dt{
  font-weight: bold;
}

h3{
  font-weight: bolder;
  text-decoration: underline;
}

textarea{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 80%;
  height: 50px;
}